@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/_Inter/Inter-Regular.woff) format('woff'),
  url(../fonts/_Inter/Inter-Regular.woff2) format('woff2'),
  url(../fonts/_Inter/Inter-Regular.ttf) format('truetype');
  font-style:  normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter-Black';
  src: url(../fonts/_Inter/Inter-Black.woff) format('woff'),
  url(../fonts/_Inter/Inter-Black.woff2) format('woff2'),
  url(../fonts/_Inter/Inter-Black.ttf) format('truetype');
  font-style:  normal;
  font-weight: 900;
}
